body {
    /*font-size: 2rem;*/
}

code {
    display: block;
    font-size: 16px;
}


#src-counter{
    margin: auto;
    border: 1px solid;
    width: 52%;
    margin-top: 60px;
    padding: 40px;
    box-sizing: border-box;
}

img {
    width: 100%;
    border: 1px solid red;
    margin: 5px;
}

#nav-counter li {
    width: 60px;
    height: 30px;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    background-color: #058d79bf;
    line-height: 30px;
    transition: box-shadow 0.5s cubic-bezier(0.33, 0.9, 1, 1);
    text-align: center;
}
#nav-counter li:hover{
    box-shadow: 2px 2px 9px #aaa5a5;
}

#nav-counter li a {
    color: #fff;
    text-decoration: none;
}